.MainScreen{
    width: 100%;
    height: 80%;
}

.menubar{
    width : 100%;
    height : 10%;
}
.buttonGroup{
    width: 100%;
    height: 10%;
}
.choiceTime{
    width:50%;
}
.makeRoom{
    width:50%;
}