.MainScreen{
    width: 100%;
    height: 75%;
}

.menubar{
    width : 100%;
    height : 60px;
}
.buttonGroup{
    width: 100%;
    height: 60px;
}
.choiceTime{
    width:50%;
}
.makeRoom{
    width:50%;
}